@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
  }
  

::-webkit-scrollbar {
    width: 50px;
  }
  
::-webkit-scrollbar-track{
    cursor: pointer;
    background: #555;
}
::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background : #242424;
}